<header class="row">

  <h1>LOGO</h1>
  <div class="search-box clearfix">
    <input type="text" placeholder="Search">
    <button>GO</button>
  </div>
  <div class="header-buttons">
      <button *ngFor="let newItem of menu[1].list"><i [ngClass]="newItem.iclass"></i>{{newItem.description}}</button>
  </div>
  <div class="responsive-header-buttons">
    <button>
      <i class="fas fa-search"></i>
    </button>
    <!-- <button id="burger-menu"><i class="fas fa-bars"></i></button> -->
    <button id="burger-menu" (click)="handleClick($event)">
      <span style="margin-top: 3px"></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>