<section class="news-section row">
    <app-market-news class="market-news panel-text-only"></app-market-news>
    <app-announcements class="panel-text-only announcements"></app-announcements>

<app-company-news style="display: contents;"></app-company-news>

<app-recently-signed class="panel-recently-signed event-list"></app-recently-signed>
<app-ceo-corner class="panel-image-item-horizontal panel-ceo-corner"></app-ceo-corner>
  <div class="panel-companynews-vertical panel-companynews-vertical-small-blue vertical-small">
    <img src="assets/tile-lg.jpg" alt="office building">
    <div class="panel-companynews-vertical-content ">
      <h4>The Latest News and Buzz On Company Projects</h4>
    </div>
  </div>
  <div class="panel-companynews-vertical panel-companynews-vertical-small-gray vertical-small">
    <img src="assets/tile-lg.jpg" alt="office building">
    <div class="panel-companynews-vertical-content">
      <h4>The Latest News and Buzz On Company Projects</h4>
    </div>
  </div>
<app-upcoming-events class="panel-upcoming-events event-list"></app-upcoming-events>

</section>



