<!--The content below is only a placeholder and can be replaced.-->

        <ul>
          <li class="onet-menu">ONET MENU</li>
          <li><i class="fas fa-caret-right fa-lg"></i>MY LINKS</li>
          <li class="site-navigation" hidden><i class="fas fa-caret-right fa-lg"></i>SITE NAVIGATION</li>
          <div class="site-navigation-content side-menu-dropdown">
            <ul>
              <li><a href="#">HOME</a></li>
              <li><a href="#">DEPARTMENTS</a></li>
              <li><a href="#">TOOLS</a></li>
              <li><a href="#">ASSOCIATE CENTER</a></li>
              <li><a href="#">PROJECT DELIVERY</a></li>
            </ul>
              <li><i class="fas fa-caret-right fa-lg"></i>SHORTCUTS</li>
              </div>
              <div class="header-buttons side-menu-dropdown">
                <button><i class="fas fa-user"></i>DIRECTORY</button>
                <button><i class="fas fa-map-marker-alt"></i>LOCATION</button>
                <button><i class="far fa-clock"></i>ENTER TIME</button>
                <button><i class="fas fa-plane"></i>TRAVEL</button>
                <button><i class="fab fa-wpforms"></i>FORMS</button>
              </div>
            </ul>
                <ul>
                  <li class="onet-menu">ONET MENU</li>
                  <li>
                    <i class="fas fa-caret-right fa-lg"></i>MY LINKS
                  </li>
                  <li class="site-navigation" hidden>
                    <i class="fas fa-caret-right fa-lg"></i>SITE NAVIGATION
                  </li>
                  <div class="site-navigation-content side-menu-dropdown">
                    <ul>
                      <li>
                        <a href="#">HOME</a>
                      </li>
                      <li>
                        <a href="#">DEPARTMENTS</a>
                      </li>
                      <li>
                        <a href="#">TOOLS</a>
                      </li>
                      <li>
                        <a href="#">ASSOCIATE CENTER</a>
                      </li>
                      <li>
                        <a href="#">PROJECT DELIVERY</a>
                      </li>
                    </ul>
                  </div>
                  <li>
                    <i class="fas fa-caret-right fa-lg"></i>SHORTCUTS
                  </li>
                  <div class="header-buttons side-menu-dropdown">
                    <button>
                      <i class="fas fa-user"></i>DIRECTORY
                    </button>
                    <button>
                      <i class="fas fa-map-marker-alt"></i>LOCATION
                    </button>
                    <button>
                      <i class="far fa-clock"></i>ENTER TIME
                    </button>
                    <button>
                      <i class="fas fa-plane"></i>TRAVEL
                    </button>
                    <button>
                      <i class="fab fa-wpforms"></i>FORMS
                    </button>
                  </div>
                </ul>
<router-outlet></router-outlet>
