<div class="panel-header">
  <i class="fas fa-caret-right"></i>
  RECENTLY SIGNED
</div>
<div class="recently-signed-content drop-down-content">
  <ul>
    <li *ngFor="let event of events">
      <div class="event-list-text" style="display: flex">
        <img src="assets/Community-Power-Corporation_1059_750x501.jpg" alt="power company" style="width: 30%">
        <div style="width: 70%; margin-left: 10px">
          <h4>{{event.name}}</h4>
          <p>{{event.date}}</p>
          <p>{{event.location}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>