<div id="side-menu" hidden>
  <ul>
    <li class="onet-menu">ONET MENU</li>
    <li><i class="fas fa-caret-right fa-lg"></i>MY LINKS</li>
    <li (click)="sideMenuCaretClicked($event)" id="shortcuts"><i class="fas fa-caret-right fa-lg" ></i>SHORTCUTS</li>
    <div class="header-buttons side-menu-dropdown">
      <button><i class="fas fa-user"></i>DIRECTORY</button>
      <button><i class="fas fa-map-marker-alt"></i>LOCATION</button>
      <button><i class="far fa-clock"></i>ENTER TIME</button>
      <button><i class="fas fa-plane"></i>TRAVEL</button>
      <button><i class="fab fa-wpforms"></i>FORMS</button>
    </div>
  </ul>
</div>